Repository alexpovel/headson: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, clippy, rustfmt, file-length

ruff-format:
  name: ruff (format)
  entry: uv run --no-sync ruff format --config pyproject.toml
  language: system

ruff:
  name: ruff (lint)
  entry: uv run --no-sync ruff check --fix --config pyproject.toml
  language: system

clippy:
  name: clippy (workspace, all targets, features)
  entry: cargo clippy --workspace --all-targets --all-features
  language: system
  pass_filenames: false

rustfmt:
  name: rustfmt (auto-fix)
  entry: cargo fmt --all
  language: system
  pass_filenames: false

file-length:
  name: file length guard (rs/py)
  entry: python scripts/check_file_lengths.py
  language: system
  pass_filenames: true

refactor: unify render dispatch and tighten length guard (#356)
  .pre-commit-config.yaml
  scripts/check_file_lengths.py
  src/serialization/fileset.rs
  src/serialization/mod.rs
Due: ruff-format, ruff, clippy, rustfmt, file-length

refactor: extract code highlight helpers from renderer (#358)
  scripts/check_file_lengths.py
  src/serialization/highlight.rs
  src/serialization/mod.rs
Due: ruff-format, ruff, clippy, rustfmt, file-length

refactor: simplify text omission handling (#359)
  scripts/check_file_lengths.py
  src/serialization/mod.rs
  src/serialization/templates/text.rs
Due: ruff-format, ruff, clippy, rustfmt, file-length

refactor: small refactors (#360)
  scripts/check_file_lengths.py
  src/serialization/highlight.rs
  src/serialization/mod.rs
Due: ruff-format, ruff, clippy, rustfmt, file-length

test: reduce boilerplate in test (#365)
  src/serialization/mod.rs
Due: clippy, rustfmt, file-length

refactor: split serialization renderer into modules (#367)
  scripts/check_file_lengths.py
  src/serialization/engine.rs
  src/serialization/fileset.rs
  src/serialization/leaf.rs
  src/serialization/mod.rs
  src/serialization/tests.rs
  src/serialization/util.rs
Due: ruff-format, ruff, clippy, rustfmt, file-length

fix: enforce per-file budgets in tree filesets (#368)
  src/order/build.rs
  src/serialization/mod.rs
  tests/fileset_tree.rs
Due: clippy, rustfmt, file-length

perf: record fileset tree slot stats in a single render (#376)
  src/serialization/fileset.rs
  src/serialization/mod.rs
  src/serialization/tests.rs
Due: clippy, rustfmt, file-length

refactor: budget search
  src/pruner/budget.rs
  src/pruner/budget/select.rs
  src/serialization/tests.rs
  tests/budget_hardening.rs
Due: clippy, rustfmt, file-length

fix: fix --tree scaffolding render (#380)f
  src/serialization/fileset.rs
  tests/fileset_tree.rs
  tests/snapshots/fileset_tree__tree_cli_color_snapshot_with_grep.snap
  tests/snapshots/fileset_tree__tree_cli_snapshot_budgeted_root_omission.snap
  tests/snapshots/per_slot_snapshots__multibyte_chars_tighter_than_bytes.snap
  tests/snapshots/per_slot_snapshots__tree_per_slot_line_cap.snap
  tests/snapshots/per_slot_snapshots__tree_per_slot_varied_line_cap.snap
Due: clippy, rustfmt, file-length

chore: release v0.11.1 (#363)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

refactor: stabilize fileset interleave and duplicate penalties (#381)
  src/order/build.rs
  src/order/build/snapshots/headson__order__build__tests__fileset_round_robin_with_duplicates_and_braces.snap
  src/order/build/snapshots/headson__order__build__tests__order_empty_array_order.snap
  src/order/build/snapshots/headson__order__build__tests__order_single_string_array_order.snap
  src/order/build/tests.rs
Due: clippy, rustfmt, file-length

refactor: simplify serialization and guard slot stats (#383)
  src/serialization/engine.rs
  src/serialization/leaf.rs
  src/serialization/mod.rs
  src/serialization/templates/code.rs
  src/serialization/tests.rs
Due: clippy, rustfmt, file-length

refactor: tidy CLI/debug flow and add CLI golden snapshots (#384)
  src/cli/args.rs
  src/cli/run.rs
  src/debug.rs
  tests/cli_golden.rs
  tests/snapshots/cli_golden__cli_golden_stdin_file_fileset.snap
  tests/snapshots/cli_golden__cli_grep_and_binary_notices.snap
Due: clippy, rustfmt, file-length

refactor: split text ingest pipeline (#386)
  src/ingest/fileset.rs
  src/ingest/formats/text/mod.rs
  src/order/build/tests.rs
Due: clippy, rustfmt, file-length

docs: update gif (#388)
  docs/assets/tapes/demo.gif
Due: none

chore: release v0.11.2 (#382)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

docs: add navigation bar (#389)
  README.md
Due: none

docs: add additional demo tapes (#392)
  Makefile.toml
  README.md
  docs/assets/tapes/demo.gif
  docs/assets/tapes/grep.gif
  docs/assets/tapes/tree.gif
  docs/tapes/demo.tape
  docs/tapes/fixtures/tree_demo/project/config/app.yaml
  docs/tapes/fixtures/tree_demo/project/data/logs/metrics.json
  docs/tapes/fixtures/tree_demo/project/data/users.json
  docs/tapes/fixtures/tree_demo/project/src/lib/util.ts
  docs/tapes/fixtures/tree_demo/project/src/main.py
  docs/tapes/grep.tape
  docs/tapes/tree.tape
Due: ruff-format, ruff, file-length

docs: docs improvements (#394)
  README.md
  docs/assets/tapes/grep.gif
  docs/tapes/grep.tape
Due: none

docs: add tape about sorting (#397)
  .gitignore
  Makefile.toml
  README.md
  docs/assets/tapes/sort.gif
  docs/tapes/fixtures/sort_demo/data/alpha.json
  docs/tapes/fixtures/sort_demo/data/zeta.json
  docs/tapes/fixtures/sort_demo/src/main.py
  docs/tapes/fixtures/sort_demo/src/util.ts
  docs/tapes/sort.tape
Due: ruff-format, ruff, file-length

docs: simplify features section in README.md (#395)
  README.md
Due: none

docs: document source code support (#398)
  README.md
  docs/assets/tapes/code.gif
  docs/tapes/code.tape
  docs/tapes/fixtures/code_demo/big.py
  docs/tapes/fixtures/code_demo/big.ts
Due: ruff-format, ruff, file-length

docs: improve readme (#399)
  README.md
Due: none

chore: release v0.11.3 (#390)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

docs: small fixes (#400)
  README.md
  docs/tapes/grep.tape
Due: none

chore: release v0.11.4 (#401)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

fix(git2): Turn off default features
  Cargo.toml
Due: none

feat(cli): Shell completions
  Cargo.lock
  Cargo.toml
  src/cli/args.rs
  src/main.rs
Due: clippy, rustfmt, file-length

Path conditions:
  ruff-format: any of: \.py$, but not: ^tests/fixtures/
  ruff: any of: \.py$, but not: ^tests/fixtures/
  clippy: any of: \.rs$
  rustfmt: any of: \.rs$
  file-length: any of: \.rs$, \.py$
