Repository alexpovel/headson: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, clippy, rustfmt

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff (format)
        entry: uv run --no-sync ruff format --config pyproject.toml
        language: system
        types: [python]
        exclude: ^tests/fixtures/
      - id: ruff
        name: ruff (lint)
        entry: uv run --no-sync ruff check --fix --config pyproject.toml
        language: system
        types: [python]
        exclude: ^tests/fixtures/
      - id: clippy
        name: clippy (workspace, all targets, features)
        entry: cargo clippy --workspace --all-targets --all-features
        language: system
        types: [rust]
        pass_filenames: false
      - id: rustfmt
        name: rustfmt (check)
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false
      - id: rustfmt-fix
        name: rustfmt (auto-fix)
        entry: cargo fmt --all
        language: system
        types: [rust]
        pass_filenames: false
        stages: [manual]

refactor: remove redundant version of headson function (#282)
  python/src/lib.rs
  src/cli/run.rs
  src/ingest/formats/text/mod.rs
  src/lib.rs
  tests/array_head.rs
  tests/array_tail.rs
  tests/chars_budget.rs
  tests/color_budget_mismatch.rs
  tests/fileset_multi_ingest.rs
  tests/headson_many_text.rs
  tests/yaml_color.rs
Due: clippy, rustfmt

refactor: have a single headson function (#284)
  python/src/lib.rs
  src/cli/run.rs
  src/ingest/formats/text/mod.rs
  src/lib.rs
  tests/array_head.rs
  tests/array_tail.rs
  tests/chars_budget.rs
  tests/color_budget_mismatch.rs
  tests/fileset_multi_ingest.rs
  tests/headson_many_text.rs
  tests/yaml_color.rs
Due: clippy, rustfmt

refactor: create pruner module (#285)
  src/lib.rs
  src/pruner/budget.rs
  src/pruner/mod.rs
  src/pruner/search.rs
  src/utils/mod.rs
Due: clippy, rustfmt

refactor: extract ingest_into_arena (#286)
  src/ingest/mod.rs
  src/lib.rs
Due: clippy, rustfmt

refactor: remove redundant input kinds (#287)
  src/ingest/formats/json/mod.rs
  src/ingest/formats/mod.rs
  src/ingest/formats/yaml/mod.rs
  src/ingest/mod.rs
  src/lib.rs
Due: clippy, rustfmt

refactor: add textmode (#288)
  python/src/lib.rs
  src/cli/run.rs
  src/ingest/formats/json/mod.rs
  src/ingest/formats/mod.rs
  src/ingest/formats/text/mod.rs
  src/ingest/formats/yaml/mod.rs
  src/ingest/mod.rs
  src/lib.rs
  tests/headson_many_text.rs
Due: clippy, rustfmt

refactor: remove some dead code (#289)
  src/format.rs
  src/ingest/formats/json/builder.rs
  src/ingest/formats/json/mod.rs
  src/ingest/formats/mod.rs
  src/ingest/formats/text/mod.rs
  src/ingest/formats/yaml/mod.rs
  src/ingest/mod.rs
Due: clippy, rustfmt

refactor: remove textmany (#290)
  src/ingest/mod.rs
  src/lib.rs
  tests/headson_many_text.rs
Due: clippy, rustfmt

refactor: move format detection logic to ingest module (#291)
  src/ingest/format.rs
  src/ingest/mod.rs
  src/lib.rs
  src/serialization/fileset.rs
Due: clippy, rustfmt

refactor: move debug logic to debug.rs (#292)
  src/debug.rs
  src/pruner/budget.rs
Due: clippy, rustfmt

feat: allow optionally counting headers in budgets (#293)
  README.md
  python/src/lib.rs
  src/cli/args.rs
  src/ingest/formats/text/mod.rs
  src/pruner/budget.rs
  src/serialization/mod.rs
  src/serialization/types.rs
  tests/array_head.rs
  tests/array_tail.rs
  tests/chars_budget.rs
  tests/code_root_sampling.rs
  tests/color_budget_mismatch.rs
  tests/fileset_js.rs
  tests/fileset_json.rs
  tests/fileset_multi_ingest.rs
  tests/fileset_yaml.rs
  tests/fixtures/mixed_headers/a.json
  tests/fixtures/mixed_headers/b.yaml
  tests/fixtures/mixed_headers/c.txt
  tests/global_limit.rs
  tests/headson_many_text.rs
  tests/line_budgets.rs
  tests/mixed_headers.rs
  tests/snapshots/mixed_headers__mixed_headers__counted.snap
  tests/snapshots/mixed_headers__mixed_headers__free.snap
  tests/yaml_color.rs
Due: clippy, rustfmt

refactor: remove a few useless comments (#295)
  src/utils/extensions.rs
Due: clippy, rustfmt

fix: improve "prioritize at least one line" logic (#297)
  src/serialization/mod.rs
  tests/snapshots/code_text_fallback_param__code_text_fallback_Sample_java_stdout.snap
  tests/snapshots/code_text_fallback_param__code_text_fallback_Sample_tsx_stdout.snap
  tests/snapshots/code_text_fallback_param__code_text_fallback_multi_describe.test_js_stdout.snap
  tests/snapshots/code_text_fallback_param__code_text_fallback_sample_cpp_stdout.snap
  tests/snapshots/code_text_fallback_param__code_text_fallback_sample_go_stdout.snap
  tests/snapshots/code_text_fallback_param__code_text_fallback_sample_js_stdout.snap
  tests/snapshots/code_text_fallback_param__code_text_fallback_sample_sh_stdout.snap
  tests/snapshots/code_text_fallback_param__code_text_fallback_sample_ts_stdout.snap
  tests/snapshots/cpp_text_fallback__cpp_text_fallback_snapshot.snap
Due: clippy, rustfmt

ci: fix binary build trigger condition (#298)
  .github/workflows/release-binaries.yml
Due: none

ci: use official guidance for release best practies (#299)
  .github/workflows/release-binaries.yml
  .github/workflows/release-plz.yml
Due: none

feat: penalize duplicated code lines (#300)
  src/order/build.rs
  src/order/scoring.rs
  tests/snapshots/code_text_fallback_param__code_text_fallback_big_sample_py_stdout.snap
  tests/snapshots/code_text_fallback_param__code_text_fallback_minimal_drop_case_py_stdout.snap
Due: clippy, rustfmt

ci: use custom release token to trigger binary builds (#302)
  .github/workflows/release-binaries.yml
  .github/workflows/release-plz.yml
Due: none

fix: improve line duplication logic (#304)
  src/order/build.rs
  tests/snapshots/code_text_fallback_param__code_text_fallback_minimal_drop_case_py_stdout.snap
Due: clippy, rustfmt

chore: release v0.7.28 (#306)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

ci: remove broken ref attribute from build job (#307)
  .github/workflows/release-binaries.yml
Due: none

feat: implement glob feature (#308)
  .gitignore
  Cargo.lock
  Cargo.toml
  src/cli/args.rs
  src/cli/run.rs
  tests/fileset_ordering.rs
  tests/glob_inputs.rs
Due: clippy, rustfmt

chore: release v0.7.29 (#310)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

feat: implement --grep flag (#312)
  Cargo.lock
  Cargo.toml
  README.md
  python/src/lib.rs
  src/cli/args.rs
  src/cli/run.rs
  src/grep.rs
  src/ingest/formats/text/mod.rs
  src/lib.rs
  src/pruner/budget.rs
  src/serialization/mod.rs
  tests/array_head.rs
  tests/array_tail.rs
  tests/chars_budget.rs
  tests/color_budget_mismatch.rs
  tests/fileset_multi_ingest.rs
  tests/grep.rs
  tests/headson_many_text.rs
  tests/yaml_color.rs
Due: clippy, rustfmt

chore: release v0.8.0 (#311)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

feat: implement highlighting for grep results (#313)
  Cargo.lock
  README.md
  python/Cargo.toml
  python/README.md
  python/src/lib.rs
  src/cli/args.rs
  src/cli/budget.rs
  src/cli/run.rs
  src/grep.rs
  src/ingest/formats/text/mod.rs
  src/lib.rs
  src/pruner/budget.rs
  src/serialization/mod.rs
  src/serialization/output.rs
  src/serialization/types.rs
  tests/array_head.rs
  tests/array_tail.rs
  tests/chars_budget.rs
  tests/color_budget_mismatch.rs
  tests/fileset_multi_ingest.rs
  tests/grep.rs
  tests/headson_many_text.rs
  tests/yaml_color.rs
  tests_py/test_summarize.py
Due: ruff-format, ruff, clippy, rustfmt

fix: by default, hide files with 0 matches when using --grep (#317)
  src/grep.rs
  src/pruner/budget.rs
  tests/grep.rs
Due: clippy, rustfmt

feat: allow showing unmatched files in --grep mode (#321)
  README.md
  python/src/lib.rs
  src/cli/args.rs
  src/cli/run.rs
  src/grep.rs
  src/lib.rs
  src/pruner/budget.rs
  tests/cli_conflicts.rs
  tests/grep.rs
Due: clippy, rustfmt

feat: add --weak-grep (#322)
  README.md
  python/src/lib.rs
  src/cli/args.rs
  src/cli/run.rs
  src/pruner/budget.rs
  tests/cli_conflicts.rs
  tests/grep.rs
  tests_py/test_summarize.py
Due: ruff-format, ruff, clippy, rustfmt

chore: release v0.9.0 (#316)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

docs: document python bindings for weak grep
  python/README.md
Due: none

ci: serialize release plz jobs (#325)
  .github/workflows/release-plz.yml
Due: none

feat: add --tree flag (#326)
  .config/nextest.toml
  README.md
  python/README.md
  python/src/lib.rs
  src/cli/args.rs
  src/cli/run.rs
  src/ingest/formats/text/mod.rs
  src/pruner/budget.rs
  src/serialization/fileset.rs
  src/serialization/mod.rs
  src/serialization/types.rs
  tests/array_head.rs
  tests/array_tail.rs
  tests/chars_budget.rs
  tests/cli_conflicts.rs
  tests/color_budget_mismatch.rs
  tests/fileset_multi_ingest.rs
  tests/fileset_tree.rs
  tests/glob_inputs.rs
  tests/grep.rs
  tests/headson_many_text.rs
  tests/snapshots/fileset_tree__tree_cli_color_snapshot_with_grep.snap
  tests/snapshots/fileset_tree__tree_cli_snapshot_budgeted_root_omission.snap
  tests/snapshots/fileset_tree__tree_cli_snapshot_nested_folder_omission.snap
  tests/yaml_color.rs
Due: clippy, rustfmt

chore: release v0.10.0 (#323)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

refactor: deduplicate helpers (#329)
  python/src/lib.rs
  src/cli/args.rs
  src/cli/budget.rs
  src/cli/run.rs
  src/grep.rs
  src/lib.rs
  src/order/types.rs
  src/utils/mod.rs
  src/utils/templates.rs
Due: clippy, rustfmt

fix: stop cross-file duplicate penalty starving filesets (#334)
  README.md
  src/debug.rs
  src/order/build.rs
  tests/fileset_tree.rs
  tests/snapshots/debug_snapshots__debug_fileset_auto_combined.snap
Due: clippy, rustfmt

fci: add linux/arm64 python wheels (#338)
  .github/workflows/python-wheel-check.yml
  .github/workflows/release-plz.yml
Due: none

chore: release v0.10.1 (#330)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

chore: release v0.11.0 (#345)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

refactor: unify string serializer and relax file length cap (#354)
  .pre-commit-config.yaml
  scripts/check_file_lengths.py
  src/serialization/mod.rs
Due: ruff-format, ruff, clippy, rustfmt
